{% extends "base.html" %}

{% load static i18n %}

{% block content %}

  <div class="row mt-3 mb-3">

    <!-- sidebar -->
    <div class="col col-3">
      <h6>Specific Chromosome</h6>
      <select id="lstSpecChr" class="form-select" aria-label="Filter for a specific chromosome">
        <option value="NA" selected>None</option>
        <option value="1">Chr1</option>
        <option value="2">Chr2</option>
        <option value="3">Chr3</option>
        <option value="4">Chr4</option>
        <option value="5">Chr5</option>
        <option value="6">Chr6</option>
        <option value="7">Chr7</option>
        <option value="8">Chr8</option>
        <option value="9">Chr9</option>
        <option value="10">Chr10</option>
        <option value="11">Chr11</option>
        <option value="12">Chr12</option>
        <option value="13">Chr13</option>
        <option value="14">Chr14</option>
        <option value="15">Chr15</option>
        <option value="16">Chr16</option>
        <option value="17">Chr17</option>
        <option value="18">Chr18</option>
        <option value="19">Chr19</option>
        <option value="20">Chr20</option>
        <option value="21">Chr21</option>
        <option value="22">Chr22</option>
        <option value="X">ChrX</option>
        <option value="Y">ChrY</option>
      </select>
      <hr />
      <h6>Genomic Region</h6>
      <select id="lstGenomicRegion" class="form-select" aria-label="Filter for a specific genomic region">
        <option value="NA" selected>All</option>
        <option value="non-coding">Non-coding</option>
        <option value="protein-coding">Protein-coding</option>
      </select>
      <hr />
      <h6>eQTL</h6>
      <select id="lsteQTL" class="form-select" aria-label="Filter for overlapping with eQTLs">
        <option value="NA" selected>No Filter</option>
        <option value="overlap-eqtl">Overlapping with eQTL (FDR < 0.05)</option>
      </select>
      <hr />
      <h6>Lays in OCRs for:</h6>
      <ul id="lstATAQSeqPeaks" class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1 atacCellType" data-atac-cell-type="GABA" type="checkbox" value="" id="atacCellType1">
          <label class="form-check-label" for="atacCellType1">GABA</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1 atacCellType" data-atac-cell-type="GLU" type="checkbox" value="" id="atacCellType2">
          <label class="form-check-label" for="atacCellType2">GLUT</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1 atacCellType" data-atac-cell-type="OLIG" type="checkbox" value="" id="atacCellType3">
          <label class="form-check-label" for="atacCellType3">OLIG</label>
        </li>
      </ul>
      <span class="fst-italic text-secondary">- OR operator is used in case of multiple selection.</span>
      <h6 class="mt-1">Only cell-type specific OCRs:</h6>
      <select id="lstCellSpecificOCRs" class="form-select" aria-label="Filter only for cell-type specific OCRs">
        <option value="no" selected>No</option>
        <option value="yes">Yes</option>
      </select>
      <hr />
      <h6>SNP Filter</h6>
      <ul id="lst-snp-filter" class="list-group">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="snpCpGIsland" disabled>
          <label class="form-check-label" for="snpCpGIsland">Introduces / removes a CpG island</label>
        </li>
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" id="snpCloseToAnotherOCR" disabled>
          <label class="form-check-label" for="snpCloseToAnotherOCR">Close to another OCR (<= 2k bp)</label>
        </li>
      </ul>
      <hr />
      <h6>Other Disease GWAS</h6>
      <div>
          MDD:<br />
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCondition2Match" id="radioCondition2Match1" value="NA" checked>
            <label class="form-check-label" for="radioCondition2Match1">No filter</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCondition2Match" id="radioCondition2Match2" value="match">
            <label class="form-check-label" for="radioCondition2Match2">Match</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCondition2Match" id="radioCondition2Match3" value="mismatch">
            <label class="form-check-label" for="radioCondition2Match3">Mismatch</label>
          </div>
          <br />
          BD:<br />
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCondition3Match" id="radioCondition3Match1" value="NA" checked>
            <label class="form-check-label" for="radioCondition3Match1">No filter</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCondition3Match" id="radioCondition3Match2" value="match">
            <label class="form-check-label" for="radioCondition3Match2">Match</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radioCondition3Match" id="radioCondition3Match3" value="mismatch">
            <label class="form-check-label" for="radioCondition3Match3">Mismatch</label>
          </div>

      </div>

      <br />
      <div class="row">
        <div class="col col-5">
          <button id="btnFilter" type="button" class="btn btn-primary">Filter & Visualize</button>
        </div>
        <div class="col col-7 form-check form-switch">
          <input class="form-check-input" type="checkbox" id="toggleReverseResults">
          <label class="form-check-label" for="toggleReverseResults">Reverse results</label>
        </div>
      </div>
    </div>

    <!-- main -->
    <div class="col col-9">
      <div id="queryResultsInstructions">
        <div class="alert alert-primary" role="alert">
          Please use the query selectors in the sidebar and click on the "Filter and Visualize" button!
        </div>
      </div>
      <div id="queryResultsSpinner" class="d-flex justify-content-center d-none">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div id="queryResultsWrapper" class="d-none">
        <div class="plotsTabs">
          <ul class="nav nav-tabs" id="">
              <li class="nav-item">
                  <a href="#tabIdiogram" class="nav-link active" data-bs-toggle="tab">Idiogram</a>
              </li>
              <li class="nav-item">
                  <a href="#tabManhattan" class="nav-link" data-bs-toggle="tab">Manhattan Plot</a>
              </li>
          </ul>
          <div class="tab-content">
              <!-- ideogram tab pane -->
              <div class="tab-pane fade show active" id="tabIdiogram">
                <div id="ideogramContainer"></div>
              </div>
              <!-- mannhattan tab pane -->
              <div class="tab-pane fade" id="tabManhattan">
                <div id="manhattanWrapper">
                  <br />
                  <div class="alert alert-primary" role="alert">
                    In this Manhattan plot, SNPs that don't meet selection criteria will be plotted in gray.
                  </div>
                  <br />
                  <figure class="highcharts-figure">
                    <div id="manhattanContainer"></div>
                  </figure>
                </div>
              </div>
          </div>
        </div>

        <br /><br />

        <div class="queryTabs">
          <ul class="nav nav-tabs" id="">
              <li class="nav-item">
                  <a href="#tabSNPs" class="nav-link active" data-bs-toggle="tab">SNPs</a>
              </li>
              <li class="nav-item">
                  <a href="#tabGenesAndPathways" class="nav-link" data-bs-toggle="tab">Genes & Pathways</a>
              </li>
              <li class="nav-item">
                  <a href="#tabOthers" class="nav-link" data-bs-toggle="tab">Other</a>
              </li>
          </ul>

          <div class="tab-content">
              <div class="tab-pane fade show active" id="tabSNPs">
                <table id="dtSNPs" class="display" style="width: 100%!important;">
                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>Chrom</th>
                          <th>Pos</th>
                          <th>P-val</th>
                          <th>eQTL Gene ID</th>
                          <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="tabGenesAndPathways">
                <table id="dtGenesAndPathways" class="display">
                    <thead>
                        <tr>
                            <th>Gene</th>
                            <th>Pathway 1</th>
                            <th>Pathway 2</th>
                            <th>Pathway 3</th>
                            <th>Pathway 4</th>
                            <th>Pathway 5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gene I</td>
                            <td>X</td>
                            <td></td>
                            <td>X</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Gene II</td>
                            <td></td>
                            <td>X</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Gene III</td>
                            <td>X</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>Gene IV</td>
                            <td></td>
                            <td></td>
                            <td>X</td>
                            <td></td>
                            <td>X</td>
                        </tr>
                    </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="tabOthers">
                Others
              </div>
          </div>
        </div>

      </div>
    </div>

  </div>


  <script src="{% static 'js/main.js' %}"></script>

{% endblock %}
