{% extends "base.html" %}

{% block content %}

  <h4 class="text-center">Visualization gives better insights!</h4>
  <h4 class="text-center">Please fill the following form.</h4>
  <div class="row m-1">
    <div class="col-2"></div>
    <div class="col-8">
      <form>
        <div class="mb-3">
          <label for="txtTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="txtTitle" aria-describedby="titleHelp">
          <div id="titleHelp" class="form-text">Please enter a title for your experiment.</div>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Condition #1
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="mb-3">
                  <label for="conditionName1" class="form-label">Condition Name</label>
                  <input type="text" class="form-control" id="conditionName1" aria-describedby="conditionNameHelp">
                  <div id="conditionNameHelp" class="form-text">e.g. SZ, BD, MDD.</div>
                </div>
                <div class="mb-3">
                  <label for="gwasFile1" class="form-label">Condition GWAS File</label>
                  <input class="form-control" type="file" id="gwasFile1" aria-describedby="gwasHelp">
                  <div id="gwasHelp" class="form-text">Only .csv and .tsv formats are supported.</div>
                </div>
                <div class="mb-3">
                  <label for="pvalColName1" class="form-label">P-val Column Name</label>
                  <input type="text" class="form-control" id="pvalColName1" aria-describedby="pvalHelp">
                  <div id="pvalHelp" class="form-text">The name of the p-value column in your uploaded file.</div>
                </div>
                <div class="mb-3">
                  <label for="snpIDColName1" class="form-label">SNP ID Column Name</label>
                  <input type="text" class="form-control" id="snpIDColName1" aria-describedby="snpIDColName1Help">
                  <div id="snpIDColName1Help" class="form-text">The name of the p-value column in your uploaded file.</div>
                </div>
                <div class="mb-3">
                  <label for="chromColName1" class="form-label">Chromosome Column Name</label>
                  <input type="text" class="form-control" id="chromColName1" aria-describedby="chromHelp">
                  <div id="chromHelp" class="form-text">The name of the chromosome column in your uploaded file.</div>
                </div>
                <div class="mb-3">
                  <label for="posColName1" class="form-label">Position Column Name</label>
                  <input type="text" class="form-control" id="posColName1">
                  <div id="pvalHelp" class="form-text">The name of the pos column in your uploaded file.</div>
                </div>
                <hr/>
                <div class="mb-3">
                  <label for="peaksFile" class="form-label">ATAC-seq Peaks File</label>
                  <input class="form-control" type="file" id="peaksFile" aria-describedby="peaksHelp">
                  <div id="peaksHelp" class="form-text">Only .csv and .tsv formats are supported. This file must include peaks annotation, the q-values of the peaks and the count matrix for subjects.</div>
                </div>
                <div class="mb-3">
                  <label for="peaksChromColName" class="form-label">Peak Chrom Column Name</label>
                  <input type="text" class="form-control" id="peaksChromColName" aria-describedby="peaksChromColNameHelp">
                  <div id="peaksChromColNameHelp" class="form-text">The name of the chromosome column in your uploaded peaks file.</div>
                </div>
                <div class="mb-3">
                  <label for="peaksStartColName" class="form-label">Peak Start Column Name</label>
                  <input type="text" class="form-control" id="peaksStartColName" aria-describedby="peaksStartColNameHelp">
                  <div id="peaksStartColNameHelp" class="form-text">The name of the peak start pos column in your uploaded peaks file.</div>
                </div>
                <div class="mb-3">
                  <label for="peaksGeneIDColName" class="form-label">Peak Gene ID Column Name</label>
                  <input type="text" class="form-control" id="peaksGeneIDColName" aria-describedby="peaksGeneIDColNameHelp">
                  <div id="peaksGeneIDColNameHelp" class="form-text">The name of the peak start pos column in your uploaded peaks file.</div>
                </div>
                <div class="mb-3">
                  <label for="peaksAssocGeneNameColName" class="form-label">Peak Start Column Name</label>
                  <input type="text" class="form-control" id="peaksAssocGeneNameColName" aria-describedby="peaksAssocGeneNameColNameHelp">
                  <div id="peaksAssocGeneNameColNameHelp" class="form-text">The name of the peak start pos column in your uploaded peaks file.</div>
                </div>
                <div class="mb-3">
                  <label for="peaksEndColName" class="form-label">Peak End Column Name</label>
                  <input type="text" class="form-control" id="peaksEndColName" aria-describedby="peaksEndColNameHelp">
                  <div id="peaksEndColNameHelp" class="form-text">The name of the peak start pos column in your uploaded peaks file.</div>
                </div>
                <div class="mb-3">
                  <label for="peaksQValColName" class="form-label">Q-value Column Name</label>
                  <input type="text" class="form-control" id="peaksQValColName" aria-describedby="peaksQValHelp">
                  <div id="peaksQValHelp" class="form-text">The name of the q-value column in your uploaded peaks file.</div>
                </div>
                <div class="mb-3">
                  <label for="peaksCellTypes" class="form-label">Count Matrix Column Names</label>
                  <input type="text" class="form-control" id="peaksCellTypes" aria-describedby="peaksCellTypesHelp">
                  <div id="peaksCellTypesHelp" class="form-text">The cell types included in peaks. e.g.: GLUT,GABA,OLIG</div>
                </div>
                <div class="mb-3">
                  <label for="cntMatrixColNames" class="form-label">Count Matrix Column Names</label>
                  <input type="text" class="form-control" id="cntMatrixColNames" aria-describedby="cntMatrixColNamesHelp">
                  <div id="cntMatrixColNamesHelp" class="form-text">The names of cols containing values of count matrix for different cell types comma separated. e.g.: AVG_GLUT,AVG_GABA,AVG_OLIG</div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Condition #2
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="mb-3">
                  <label for="conditionName2" class="form-label">Condition Name</label>
                  <input type="text" class="form-control" id="conditionName2" aria-describedby="conditionNameHelp">
                  <div id="conditionNameHelp" class="form-text">e.g. SZ, BD, MDD.</div>
                </div>
                <div class="mb-3">
                  <label for="gwasFile2" class="form-label">Condition GWAS File</label>
                  <input class="form-control" type="file" id="gwasFile2" aria-describedby="gwasHelp">
                  <div id="gwasHelp" class="form-text">Only .csv and .tsv formats are supported.</div>
                </div>
                <div class="mb-3">
                  <label for="pvalColName2" class="form-label">P-val Column Name</label>
                  <input type="text" class="form-control" id="pvalColName2" aria-describedby="pvalHelp">
                  <div id="pvalHelp" class="form-text">The name of the p-value column in your uploaded file.</div>
                </div>
                <div class="mb-3">
                  <label for="snpIDColName2" class="form-label">SNP ID Column Name</label>
                  <input type="text" class="form-control" id="snpIDColName2" aria-describedby="snpIDColName2Help">
                  <div id="snpIDColName2Help" class="form-text">The name of the p-value column in your uploaded file.</div>
                </div>
                <div class="mb-3">
                  <label for="chromColName2" class="form-label">Chromosome Column Name</label>
                  <input type="text" class="form-control" id="chromColName2" aria-describedby="chromHelp">
                  <div id="chromHelp" class="form-text">The name of the chromosome column in your uploaded file.</div>
                </div>
                <div class="mb-3">
                  <label for="posColName2" class="form-label">Position Column Name</label>
                  <input type="text" class="form-control" id="posColName2">
                  <div id="pvalHelp" class="form-text">The name of the pos column in your uploaded file.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Condition #3
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="mb-3">
                  <label for="conditionName3" class="form-label">Condition Name</label>
                  <input type="text" class="form-control" id="conditionName3" aria-describedby="conditionNameHelp">
                  <div id="conditionNameHelp" class="form-text">e.g. SZ, BD, MDD.</div>
                </div>
                <div class="mb-3">
                  <label for="gwasFile3" class="form-label">Condition GWAS File</label>
                  <input class="form-control" type="file" id="gwasFile3" aria-describedby="gwasHelp">
                  <div id="gwasHelp" class="form-text">Only .csv and .tsv formats are supported.</div>
                </div>
                <div class="mb-3">
                  <label for="pvalColName3" class="form-label">P-val Column Name</label>
                  <input type="text" class="form-control" id="pvalColName3" aria-describedby="pvalHelp">
                  <div id="pvalHelp" class="form-text">The name of the p-value column in your uploaded file.</div>
                </div>
                <div class="mb-3">
                  <label for="snpIDColName3" class="form-label">SNP ID Column Name</label>
                  <input type="text" class="form-control" id="snpIDColName3" aria-describedby="snpIDColName3Help">
                  <div id="snpIDColName3Help" class="form-text">The name of the p-value column in your uploaded file.</div>
                </div>
                <div class="mb-3">
                  <label for="chromColName3" class="form-label">Chromosome Column Name</label>
                  <input type="text" class="form-control" id="chromColName3" aria-describedby="chromHelp">
                  <div id="chromHelp" class="form-text">The name of the chromosome column in your uploaded file.</div>
                </div>
                <div class="mb-3">
                  <label for="posColName3" class="form-label">Position Column Name</label>
                  <input type="text" class="form-control" id="posColName3">
                  <div id="pvalHelp" class="form-text">The name of the pos column in your uploaded file.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br /><br />
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">I agree on all the <a href="javascript:;">terms</a>.</label>
        </div>
        <a href="/main/run_1"><button type="button" class="btn btn-primary">Submit & Visualize</button></a>
        <br /><br /><br />
      </form>
    </div>
    <div class="col-2"></div>
  </div>

{% endblock %}
